/*!
 * Theme Name:     HDClassicsMod
 * Version:        3.3.2b
 * Last Updated:   9 July 2023
 * Notes:          Ensure stylesheet is set to (default) in profile settings when in use
 */
/* Main top-level elements */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    zoom: 75%;
  }
}
html, table.mainouter, div.footer {
  background: none;
}
div.footer {
  position: absolute;
  width: 100%;
  left: 0;
  padding-bottom: 20px;
}
body {
  background: #7997af;
  color: black;
  margin: 80px 0 0;
  padding: 10px 20px 20px;
}
body > table.main {
  background: none;
  border: none;
}
/* Sitewide defaults */
table {
  background-color: #bdcad6;
}
table.main {
  background-color: #7997af;
}
table.message, table[border="1"], th, td {
  border: none;
}
th, h2, td.colhead {
  padding: 5px;
  border: none;
  background-image: none;
  background-color: #2f4879;
  color: white;
}
th a:link, th a:visited, h2 a:link, h2 a:visited, td.colhead a:link, td.colhead a:visited {
  color: white;
  text-decoration: none;
}
th a:link:hover, th a:link:focus, th a:link:active, th a:visited:hover, th a:visited:focus, th a:visited:active, h2 a:link:hover, h2 a:link:focus, h2 a:link:active, h2 a:visited:hover, h2 a:visited:focus, h2 a:visited:active, td.colhead a:link:hover, td.colhead a:link:focus, td.colhead a:link:active, td.colhead a:visited:hover, td.colhead a:visited:focus, td.colhead a:visited:active {
  color: white;
  text-decoration: underline;
}
input, select, textarea, button, .button {
  outline: none;
  border: none;
  background-color: #d9d9d9;
  color: black;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
input:focus, select:focus, textarea:focus, button:focus, .button:focus {
  border: none;
  background-color: #2f4879;
  color: #d9d9d9;
}
input[disabled] {
  opacity: .5;
  pointer-events: none;
}
button, button[type="button"], .button,
input[type="button"], input[type="submit"], input[type="reset"] {
  outline: none;
  border: none;
  background-color: #d9d9d9;
  color: black;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  position: relative;
  top: 0;
  border-radius: 3px;
  box-shadow: none;
}
button:focus, button[type="button"]:focus, .button:focus,
input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
  border: none;
  background-color: #2f4879;
  color: #d9d9d9;
}
button:active, button[type="button"]:active, .button:active,
input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
  top: 2px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
button:hover, button:focus, button:active, button[type="button"]:hover, button[type="button"]:focus, button[type="button"]:active, .button:hover, .button:focus, .button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active, input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active {
  border: none;
  background-color: #2f4879;
  color: #d9d9d9;
}
::-webkit-input-placeholder {
  color: #2f4879;
  opacity: 0.5;
}
:-moz-placeholder {
  color: #2f4879;
  opacity: 0.5;
}
::-moz-placeholder {
  color: #2f4879;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: #2f4879;
  opacity: 0.5;
}
a, a.catlink {
  color: black;
  text-decoration: underline;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a:hover, a:focus, a:active, a.catlink:hover, a.catlink:focus, a.catlink:active {
  color: #400202;
  text-decoration: underline;
}
a:active, a.catlink:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
a:link, a:visited, a.catlink:link, a.catlink:visited {
  color: black;
  text-decoration: underline;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a:link:hover, a:link:focus, a:link:active, a:visited:hover, a:visited:focus, a:visited:active, a.catlink:link:hover, a.catlink:link:focus, a.catlink:link:active, a.catlink:visited:hover, a.catlink:visited:focus, a.catlink:visited:active {
  color: #400202;
  text-decoration: underline;
}
a:link:active, a:visited:active, a.catlink:link:active, a.catlink:visited:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
a.altlink {
  color: #400202;
  text-decoration: underline;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a.altlink:hover, a.altlink:focus, a.altlink:active {
  color: #400202;
  text-decoration: underline;
}
a.altlink:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
a.altlink:link, a.altlink:visited {
  color: #400202;
  text-decoration: underline;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a.altlink:link:hover, a.altlink:link:focus, a.altlink:link:active, a.altlink:visited:hover, a.altlink:visited:focus, a.altlink:visited:active {
  color: #400202;
  text-decoration: underline;
}
a.altlink:link:active, a.altlink:visited:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
table.tablesorter {
  border: none;
}
.tablesorter > tbody > tr {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.tablesorter > tbody > tr:hover {
  background-color: #93a5b4;
}
hr {
  border-color: black !important;
}
/* User profile links */
a[href^="/userdetails.php?id="], a[href^="userdetails.php?id="], a.altlink[href^="userdetails.php?id="] {
  color: black;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 0.3s ease, text-shadow 0.3s ease;
  -moz-transition: color 0.3s ease, text-shadow 0.3s ease;
  -o-transition: color 0.3s ease, text-shadow 0.3s ease;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
a[href^="/userdetails.php?id="]:hover, a[href^="/userdetails.php?id="]:focus, a[href^="/userdetails.php?id="]:active, a[href^="userdetails.php?id="]:hover, a[href^="userdetails.php?id="]:focus, a[href^="userdetails.php?id="]:active, a.altlink[href^="userdetails.php?id="]:hover, a.altlink[href^="userdetails.php?id="]:focus, a.altlink[href^="userdetails.php?id="]:active {
  color: #bdcad6;
  text-decoration: none;
  text-shadow: 0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black,0 0 0.2em black;
}
a[href^="/userdetails.php?id="]:active, a[href^="userdetails.php?id="]:active, a.altlink[href^="userdetails.php?id="]:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
td.comment, td.text {
  font-size: 14px;
  max-width: 800px;
  word-wrap: break-word;
  word-break: break-word;
}
td.comment img, td.text img {
  max-width: 650px !important;
}
/* Site header */
body > table:first-of-type {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 60px;
  margin: 0 !important;
  background-color: rgba(92, 126, 153, 0.95);
}
body > table:first-of-type #sitesearch {
  text-align: center;
}
body > table:first-of-type #searchselector li {
  margin: 0 0 5px 5px;
}
body > table:first-of-type #sitesearchform {
  display: inline-block;
}
body > table:first-of-type .embedded {
  text-align: right;
  padding: 0 5px;
}
body > table:first-of-type .embedded:nth-of-type(1), body > table:first-of-type .embedded:nth-of-type(2) {
  width: 33%;
}
body > table:first-of-type .embedded:nth-of-type(3) {
  white-space: nowrap;
}
body > table:first-of-type .embedded .curuser-stats {
  line-height: 24px;
  margin: 0 10px 0 0;
}
body > table:first-of-type .embedded .curuser-stats:first-of-type {
  display: inline;
  margin: 0;
}
body > table:first-of-type .embedded .curuser-stats:nth-of-type(2) {
  display: inline;
  margin: 0 6px 0 0;
}
body .menu {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 2;
  margin: 0;
}
/* Logo */
div#logo {
  background: transparent no-repeat 8px 0/301px url("https://i.hdbits.org/doYyr9W.png") !important;
  width: 309px !important;
  height: 34px !important;
}
/* Donate */
#donate {
  background: none;
  width: auto;
  height: auto;
  margin-top: 0;
}
#donate::before {
  content: 'Donate';
}
/* Icons */
.buddylist {
  background-image: url("https://i.hdbits.org/OyQYwUa.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  height: 14px;
  padding-left: 14px;
  width: 0;
  background-position: 0;
}
.mytorrents {
  background-image: url("https://i.hdbits.org/qhwBQ2V.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  height: 14px;
  padding-left: 14px;
  width: 0;
  background-position: 0;
}
.inbox {
  background-image: url("https://i.hdbits.org/PDe9qGC.png");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  height: 14px;
  padding-left: 16px;
  width: 0;
  background-position: 0;
}
.inboxnew {
  background-image: url("https://i.hdbits.org/KAWqumd.png");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  height: 14px;
  padding-left: 16px;
  width: 0;
  background-position: 0;
}
/* Disable Christmas decoration lameness */
#topsex {
  background-position-x: center !important;
  background-size: 100% 15px !important;
}
/* Adjust anchor links for fixed header */
a[name]:not([href]) {
  display: block;
  padding-top: 90px;
  margin-top: -90px;
  pointer-events: none;
}
p.sub > a[name]:target {
  padding-top: 90px;
  margin-top: -90px;
  pointer-events: none;
  outline: none;
}
/* Notification Overlay */
.notification-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: -25px;
  bottom: 0;
}
/* Notification popup */
.notification-frame, .popup {
  border: none;
  background: none;
}
.notification-frame a, .notification-frame .notification__body, .popup a, .popup .notification__body {
  color: black;
  text-decoration: none;
}
.notification-frame a:hover, .notification-frame a:focus, .notification-frame a:active, .notification-frame .notification__body:hover, .notification-frame .notification__body:focus, .notification-frame .notification__body:active, .popup a:hover, .popup a:focus, .popup a:active, .popup .notification__body:hover, .popup .notification__body:focus, .popup .notification__body:active {
  color: black;
  text-decoration: underline;
}
.notification-frame {
  padding: 20px 0;
}
.notification__body {
  max-width: 520px;
}
.notification, .popup {
  border-radius: 3px;
  background-color: rgba(217, 217, 217, 0.95);
  color: black;
  padding: 4px 8px;
}
.notification:hover, .popup:hover {
  background-color: rgba(217, 217, 217, 0.95);
}
.popup {
  box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.5);
}
/* Alert boxes (in header) */
.alert-box {
  display: inline;
  border-radius: 3px;
  padding: 4px;
}
.alert-box--nopms {
  background: none;
}
.alert-box--pm {
  background-color: red;
  color: ghostwhite !important;
  font-weight: bold;
}
.alert-box--notifications {
  background-color: green;
  color: ghostwhite !important;
  font-weight: bold;
}
.alert-box--news {
  background-color: blue;
  color: ghostwhite !important;
  font-weight: bold;
}
/* Site search */
.searchicon {
  background-image: url("https://i.hdbits.org/5ooGIMw.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
#sitesearchinput:focus + .searchicon {
  background-image: url("https://i.hdbits.org/quwUKe5.png");
}
#sitesearchsubmit {
  top: 2px;
  box-shadow: none;
}
.autocomplete-suggestions {
  background: #2f4879;
  color: #d9d9d9;
  border: 1px solid #a6a6a6;
  box-shadow: none;
}
.autocomplete-selected {
  background: #3d5e9e;
}
/* Main navigation menu */
.menu {
  border: none;
  box-shadow:none;
  background: #d9d9d9;
}
#menusides, td.menunavigation, td.menunavigation_new {
  background: none;
  border: 2px solid transparent;
}
#menusides:hover, td.menunavigation:hover, td.menunavigation_new:hover {
  background: none;
  border: 2px solid transparent;
}
td.menunavigation a.normal, td.menunavigation_new a.normal {
  border: none;
  border-radius: 3px;
  width: 100%;
  color: black;
  box-shadow: none;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
td.menunavigation a.normal:active, td.menunavigation_new a.normal:active {
  background-color: #3d5e9e;
  color: white;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
td.menunavigation_new a.normal {
  position: relative;
  z-index: 1;
}
td.menunavigation_new a.normal:hover::before, td.menunavigation_new a.normal:focus::before, td.menunavigation_new a.normal:active::before {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
td.menunavigation_new a.normal::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  opacity: .75;
  box-shadow: none;
  -webkit-animation: menuflash 1s infinite alternate;
  -moz-animation: menuflash 1s infinite alternate;
  -o-animation: menuflash 1s infinite alternate;
  animation: menuflash 1s infinite alternate;
}
@-webkit-keyframes menuflash {
  100% {
    background-color: #5fa3e7;
  }
}
@-moz-keyframes menuflash {
  100% {
    background-color: #5fa3e7;
  }
}
@-o-keyframes menuflash {
  100% {
    background-color: #5fa3e7;
  }
}
@keyframes menuflash {
  100% {
    background-color: #5fa3e7;
  }
}
td.menunavigation a:hover, td.menunavigation a:focus, td.menunavigation_new a:hover, td.menunavigation_new a:focus {
  font-weight: bold;
  font-size: 13px;
  border: none;
  text-decoration: none;
  background-color: #2f4879;
  color: white;
}
td.menunavigation a:active, td.menunavigation_new a:active {
  text-decoration: none;
}
/* Side bar */
td#sidebar-container {
  position: fixed;
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0 !important;
  background: transparent;
  border: none;
  height: auto;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: width .15s ease;
  -moz-transition: width .15s ease;
  -o-transition: width .15s ease;
  transition: width .15s ease;
  width: 20px;
}
td#sidebar-container .main {
  position: relative;
  background-color: rgba(47, 72, 121, 0.95);
  box-shadow:none;
  border: none;
  border-radius: 0 5px 5px 0;
  width: 185px;
  margin: 90px 0 10px 0;
  padding: 0;
}
td#sidebar-container .main::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0 5px 5px 0;
  background-color: #2f4879;
}
td#sidebar-container:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
td#sidebar-container:hover .main::before {
  -webkit-transition: opacity .15s ease, z-index 0 .15s;
  -moz-transition: opacity .15s ease, z-index 0 .15s;
  -o-transition: opacity .15s ease, z-index 0 .15s;
  transition: opacity .15s ease, z-index 0 .15s;
}
td#sidebar-container .main {
  -webkit-transition: left .15s ease;
  -moz-transition: left .15s ease;
  -o-transition: left .15s ease;
  transition: left .15s ease;
}
td#sidebar-container .main::before {
  -webkit-transition: opacity .15s ease;
  -moz-transition: opacity .15s ease;
  -o-transition: opacity .15s ease;
  transition: opacity .15s ease;
}
td#sidebar-container + * {
  -webkit-transition: padding .15s ease;
  -moz-transition: padding .15s ease;
  -o-transition: padding .15s ease;
  transition: padding .15s ease;
}
td#sidebar-container + * {
  padding-left: 1px;
}
td#sidebar-container:hover {
  width: 190px;
}
td#sidebar-container:hover .main {
  left: 0;
}
td#sidebar-container:hover .main::before {
  opacity: 0;
  z-index: -1;
}
td#sidebar-container .main {
  left: -170px;
}
td#sidebar-container .main::before {
  opacity: 1;
  z-index: 1;
}
@media only screen and (min-width: 1280px) {
  td#sidebar-container {
    width: 190px;
  }
  td#sidebar-container .main {
    left: 0;
  }
  td#sidebar-container .main::before {
    opacity: 0;
    z-index: -1;
  }
  td#sidebar-container + * {
    padding-left: 180px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  td#sidebar-container {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  td#sidebar-container:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  td#sidebar-container:hover .main::before {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  td#sidebar-container .main {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  td#sidebar-container .main::before {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  td#sidebar-container + * {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  td#sidebar-container {
    width: 190px;
  }
  td#sidebar-container .main {
    left: 0;
  }
  td#sidebar-container .main::before {
    opacity: 0;
    z-index: -1;
  }
  td#sidebar-container + * {
    padding-left: 180px;
  }
}
td#sidebar-container form > select {
  width: 150px;
}
td#sidebar-container .embedded {
  padding: 0;
}
td#sidebar-container .embedded table, td#sidebar-container .embedded h2 {
  width: 165px;
  margin-left: 10px;
  margin-right: 10px;
}
td#sidebar-container .embedded table {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0 0 5px 0;
  background-color: rgba(189, 202, 214, 0.95);
}
td#sidebar-container .embedded table:last-of-type {
  margin-bottom: 10px;
}
td#sidebar-container .embedded h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 5px 0;
  background: none;
}
td#sidebar-container a.normal {
  color: white;
}
td#sidebar-container a.normal:hover, td#sidebar-container a.normal:focus, td#sidebar-container a.normal:active {
  text-shadow: none;
  color: white;
  text-decoration: underline;
}
/* Navigation sub-menu */
/* Width 800 matches most submenus, 500 is for user lists page */
td.bottom > table[width="800"]:first-of-type,
td.bottom > table[width="500"]:first-of-type {
  background: none;
  border-collapse: separate;
  margin-bottom: 5px;
}
td.bottom > table[width="800"]:first-of-type td.submenu-highlight,
td.bottom > table[width="500"]:first-of-type td.submenu-highlight {
  background: none;
}
td.bottom > table[width="800"]:first-of-type td a,
td.bottom > table[width="500"]:first-of-type td a {
  height: 23px;
  line-height: 23px;
  border-radius: 3px;
  background-color: #dedede;
  color: black;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  border: none;
  box-shadow:none;
}
td.bottom > table[width="800"]:first-of-type td a:hover, td.bottom > table[width="800"]:first-of-type td a:focus,
td.bottom > table[width="500"]:first-of-type td a:hover,
td.bottom > table[width="500"]:first-of-type td a:focus {
  background-color: #2f4879;
  color: white;
}
td.bottom > table[width="800"]:first-of-type td a:active,
td.bottom > table[width="500"]:first-of-type td a:active {
  background-color: #3d5e9e;
  color: white;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.submenu-highlight__link {
  background-color: #2f4879 !important;
  color: white !important;
}
/* Browse & user settings page submenu */
#tabs > .tab {
  border: none;
  background: none;
}
#tabs > .tab.selected {
  border: none !important;
  background: none !important;
}
#tabs > .tab.selected a {
  background-color: #2f4879 !important;
  color: white !important;
}
#tabs > .tab a {
  border-radius: 3px;
  background-color: #dedede;
  color: black;
  text-decoration: none;
  box-shadow:none;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  border: none;
  box-shadow:none;
}
#tabs > .tab a:hover, #tabs > .tab a:focus {
  background-color: #2f4879;
  color: white;
  text-decoration: none;
}
#tabs > .tab a:active {
  background-color: #3d5e9e;
  color: white;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* Torrent lists */
#torrent-list {
  max-width: 1200px;
  background: none;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
#torrent-list > tbody > tr {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
#torrent-list > tbody > tr:nth-of-type(odd) {
  background-color: #bdcad6;
}
#torrent-list > tbody > tr:nth-of-type(even) {
  background-color: #c1ced9;
}
#torrent-list > tbody > tr:nth-of-type(odd).featured {
  background-color: #e5e5fa;
}
.js-source-data[data-source="bookmark"] + #torrent-list > tbody > tr:nth-of-type(odd).featured {
  background-color: #bdcad6;
}
#torrent-list > tbody > tr:nth-of-type(even).featured {
  background-color: #ececfb;
}
.js-source-data[data-source="bookmark"] + #torrent-list > tbody > tr:nth-of-type(even).featured {
  background-color: #c1ced9;
}
#torrent-list > tbody > tr:hover, #torrent-list > tbody > tr.featured:hover, .js-source-data[data-source="bookmark"] + #torrent-list > tbody > tr.featured:hover {
  background-color: #b1bec9;
}
#torrent-list > tbody > tr[style="visibility: collapse;"] {
  display: none;
}
#torrent-list font[color="#110000"] {
  color: #110000;
}
#torrent-list font[color="#220000"] {
  color: #220000;
}
#torrent-list font[color="#330000"] {
  color: #330000;
}
#torrent-list font[color="#440000"] {
  color: #440000;
}
#torrent-list font[color="#550000"] {
  color: #550000;
}
#torrent-list font[color="#660000"] {
  color: #660000;
}
#torrent-list font[color="#770000"] {
  color: #770000;
}
#torrent-list font[color="#880000"] {
  color: #880000;
}
#torrent-list font[color="#990000"] {
  color: #990000;
}
#torrent-list font[color="#aa0000"] {
  color: #aa0000;
}
#torrent-list font[color="#bb0000"] {
  color: #bb0000;
}
#torrent-list font[color="#cc0000"] {
  color: #cc0000;
}
#torrent-list font[color="#dd0000"] {
  color: #dd0000;
}
#torrent-list font[color="#ee0000"] {
  color: #ee0000;
}
#torrent-list font[color="#ff0000"] {
  color: red;
}
#torrent-list font[color="red"] {
  color: red;
}
#torrent-list button, #torrent-list button.tvdb_button {
  background-color: #d9d9d9;
  color: black;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  text-decoration: none;
  margin-left: 2px;
  margin-top: 0;
  top: 4px;
}
#torrent-list button:hover, #torrent-list button:focus, #torrent-list button:active, #torrent-list button.tvdb_button:hover, #torrent-list button.tvdb_button:focus, #torrent-list button.tvdb_button:active {
  background-color: black;
  color: #d9d9d9;
  text-decoration: none;
}
#torrent-list button:active, #torrent-list button.tvdb_button:active {
  top: 6px;
}
#torrent-list a[href^="/details.php?id="] > font {
  text-decoration: underline;
}
#torrent-list a[href^="/details.php?id="]:hover > font[color], #torrent-list a[href^="/details.php?id="]:focus > font[color], #torrent-list a[href^="/details.php?id="]:active > font[color] {
  color: #400202;
}
#torrent-list a > font {
  color: black;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
#torrent-list a.fl::after, #torrent-list a[title^="25%"]::after, #torrent-list a[title^="50%"]::after {
  float: right;
  font-size: 10px;
  width: 34px;
  text-align: center;
  pointer-events: none;
}
#torrent-list a.fl::after {
  content: "FREE";
  color: #000099;
}
#torrent-list a[title^="25%"]::after {
  content: "75%";
  color: rgba(0, 0, 153, 0.75);
}
#torrent-list a[title^="50%"]::after {
  content: "50%";
  color: rgba(0, 0, 153, 0.5);
}
#offerstable, #table_open_requests {
  background: none;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
#offerstable > tbody > tr, #table_open_requests > tbody > tr {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
#offerstable > tbody > tr:nth-of-type(odd), #table_open_requests > tbody > tr:nth-of-type(odd) {
  background-color: #bdcad6;
}
#offerstable > tbody > tr:nth-of-type(even), #table_open_requests > tbody > tr:nth-of-type(even) {
  background-color: #c1ced9;
}
#offerstable > tbody > tr:hover, #table_open_requests > tbody > tr:hover {
  background-color: #b1bec9;
}
.actorresult:nth-of-type(odd) {
  background-color: #bdcad6;
}
.actorresult:nth-of-type(even) {
  background-color: #c1ced9;
}
.fl, a.fl:link, a.fl:visited {
  color: #000099;
}
.internal, a.internal {
  color: black;
}
a.fl:hover, a.fl:focus, a.fl:active, a.internal:hover, a.internal:focus, a.internal:active {
  color: #400202;
}
a:hover .fl, a:focus .fl, a:active .fl {
  color: #400202;
}
a .fl {
  text-decoration: underline;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.tag {
  color: white;
  font-weight: bold;
}
.tag.new {
  background-color: maroon;
}
#torrent-list .tag.new {
  float: left;
  margin-left: 0;
  margin-right: 5px;
}
.tag.internal {
  background-color: #2f4879;
}
.genres {
  color: rgba(0, 0, 0, 0.5);
}
.genres a:hover, .genres a:focus, .genres a:active {
  text-decoration: underline;
  color: #400202;
}
td.catcell, td[id^="codec"] {
  opacity: 1;
}
/* Browse */
#searchbox {
  background: none;
}
#searchbox > tbody > tr > td {
  background: #bdcad6;
}
form > #searchbox {
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
/* Browse - Film */
html #searchcriteria {
  background-color: #bdcad6;
  margin-bottom: 20px;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
html .statbox {
  margin: 5px 1% 20px;
  width: 48%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #3f5769;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
html .statbox > * {
  margin: 0;
}
html .statbox_films {
  background-color: #bdcad6;
  border: none;
}
html .film-notorrents {
  color: rgba(0, 0, 0, 0.5);
}
html .rc__row {
  background-color: rgba(0, 0, 0, 0.4);
}
html .rc__toggle {
  background-color: #213444;
  color: white;
}
html .rc__film__poster {
  object-fit: fill;
}
html .info_row {
  border-color: black;
}
html .info__title-nodownloads {
  color: rgba(0, 0, 0, 0.5);
}
.pagerel {
  font-size: 11px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.pagerel:hover, .pagerel:focus, .pagerel:active {
  color: #400202;
  text-decoration: underline;
}
.pagerel:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
b .pagerel {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: normal;
  pointer-events: none;
}
.pagerarrowhidden {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}
/* Browse - TV */
.tv-todownload {
  width: 950px;
}
#tv-show-list {
  width: 500px;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
#tv-episode-list {
  background-color: #bdcad6;
  margin-left: 35px;
  width: 400px;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
.overlay-popupui > .button {
  background-color: #d9d9d9;
  color: black;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  text-decoration: none;
  position: relative;
  top: 0;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.overlay-popupui > .button:hover, .overlay-popupui > .button:focus, .overlay-popupui > .button:active {
  background-color: black;
  color: #d9d9d9;
  text-decoration: none;
}
.overlay-popupui > .button:active {
  top: 2px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.show-banner-text {
  background-color: #bdcad6;
  color: black;
}
.show-title, .season-title {
  border: none;
  background-color: #2f4879;
  color: white;
}
.show-title a, .season-title a {
  color: white;
  text-decoration: none;
}
.show-title a:hover, .show-title a:focus, .show-title a:active, .season-title a:hover, .season-title a:focus, .season-title a:active {
  color: white;
  text-decoration: underline;
}
.show-preference {
  border: none;
}
/* Browse - TV Recommendations */
div.statposter_views {
  background-color: white;
  color: black;
}
/* "More" links for Film and TV pages */
a.film_morelink, a.tv_morelink {
  background-color: #2f4879;
  color: white;
}
a.film_morelink:hover, a.film_morelink:focus, a.film_morelink:active, a.tv_morelink:hover, a.tv_morelink:focus, a.tv_morelink:active {
  color: white;
  text-decoration: underline;
}
.statbox .statbanner {
  border: none;
}
/* Browse - User Lists */
html .list-description {
  background-color: #bdcad6;
  max-width: 850px;
  margin: 30px 0 20px;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
html .item > h2, html .item > h2 + div.item-body {
  box-shadow:none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  border-collapse: separate;
}
html .item > h2 {
  border-top: 1px solid #3f5769;
}
html .item > h2 + div.item-body {
  border-bottom: 1px solid #3f5769;
  margin-bottom: 20px;
}
html .item .item-body {
  background-color: #bdcad6;
  border-top: none;
  height: auto;
  padding: 10px 5px;
}
html .item .item-body > .description {
  max-height: none;
  min-width: 500px;
}
html .item .item-body > .comment {
  background-color: #93a5b4;
  border: 1px dashed black;
  position: static;
  margin-top: 10px;
}
html .imdb .item-body > .comment {
  margin-left: 40px;
}
html .tvdb .item-body > .comment {
  margin-left: 37px;
}
html .torrent .item-body > .torrent-banner {
  display: none;
}
html .torrent .item-body > .description {
  width: 620px;
}
html .torrent .item-body > .comment {
  margin-left: 45px;
}
html .list-links > a {
  background-color: #d9d9d9;
  color: black;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  text-decoration: none;
  position: relative;
  top: 0;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
html .list-links > a:hover, html .list-links > a:focus, html .list-links > a:active {
  background-color: black;
  color: #d9d9d9;
  text-decoration: none;
}
html .list-links > a:active {
  top: 2px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#list-add-container {
  padding: 5px 20px 15px 20px;
  background-color: #bdcad6;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
#list-add-container .previewbox {
  width: 642px;
}
#tabs ~ form + table {
  background: none;
  margin-top: 20px;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
#tabs ~ form + table > tbody > tr:nth-of-type(2n+2) {
  background-color: #bdcad6;
}
#tabs ~ form + table > tbody > tr:nth-of-type(2n+3) {
  background-color: #c1ced9;
}
#list-add > table.form-input {
  background-color: #bdcad6;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
/* Forums */
td.bottom > table + h1 ~ table:not([class]),
td.bottom > table + h1 ~ div > table:not([class]) {
  background: none;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
td.bottom > table + h1 ~ table:not([class]) > tbody > tr,
td.bottom > table + h1 ~ div > table:not([class]) > tbody > tr {
  background: none;
}
td.bottom > table + h1 ~ table:not([class]) > tbody > tr:nth-of-type(2n+2) td,
td.bottom > table + h1 ~ div > table:not([class]) > tbody > tr:nth-of-type(2n+2) td {
  background-color: #bdcad6;
}
td.bottom > table + h1 ~ table:not([class]) > tbody > tr:nth-of-type(2n+3) td,
td.bottom > table + h1 ~ div > table:not([class]) > tbody > tr:nth-of-type(2n+3) td {
  background-color: #c1ced9;
}
td.bottom > table + h1 ~ table:not([class]) > tbody > tr td > table:first-child,
td.bottom > table + h1 ~ div > table:not([class]) > tbody > tr td > table:first-child {
  background: none;
}
td.bottom > table + h1 ~ table:not([class]) > tbody > tr td > table:first-child td,
td.bottom > table + h1 ~ div > table:not([class]) > tbody > tr td > table:first-child td {
  background: none;
}
td[style="border: 1px black dashed"] {
  border-color: black !important;
  word-wrap: break-word;
  word-break: break-word;
}
table.std-content {
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
.std-content {
  max-width: none;
  width: 850px;
  word-wrap: break-word;
  word-break: break-word;
}
.std-content pre {
  white-space: pre-wrap;
}
.std-content > tbody > tr > td > table {
  width: 100%;
}
.std-content > tbody > tr > td > table:not([class]) {
  background: none;
}
.std-content > tbody > tr > td > table.readpost {
  background-color: #b1bec9;
  border: none;
}
.std-content > tbody > tr > td > table.readpost .main {
  background: none;
}
.std-content > tbody > tr > td > table.main {
  background-color: #7997af;
  border: none;
}
.std-content > tbody > tr > td > table.main .main {
  background: none;
}
#displayarea table.main, td.comment table.main {
  background: none;
}
/* Forum icons */
.unlockednew {
  width: 32px;
  height: 32px;
  background: url("https://i.hdbits.org/Lhb8BsG.png") no-repeat center;
}

.unlocked {
  width: 32px;
  height: 32px;
  background: url("https://i.hdbits.org/dBa0njL.png") no-repeat center;
}

.lockednew {
  width: 32px;
  height: 32px;
  background: url("hhttps://i.hdbits.org/sdQHlv7.png") no-repeat center;
}

.locked {
  width: 32px;
  height: 32px;
  background: url("https://i.hdbits.org/EbZjspq.png") no-repeat center;
}

.hasposted::after {
  content: url("https://i.hdbits.org/7lYKxJF.png");
  height: 10px;
  width: 10px;
  top: 6px;
  left: 11px;
  position: relative;
}

img[src="/pic/info/icon_profile.gif"] {
  background-image: url("https://i.hdbits.org/t9Si7s7.png");
  background-repeat: no-repeat;
  background-size: 57px 20px;
  height: 20px;
  padding-left: 57px;
  width: 0;
}
img[src="/pic/info/icon_pm.gif"] {
  background-image: url("https://i.hdbits.org/O6DcVWw.png");
  background-repeat: no-repeat;
  background-size: 57px 20px;
  height: 20px;
  padding-left: 57px;
  width: 0;
}
img[src="/pic/info/icon_www.gif"] {
  background-image: url("https://i.hdbits.org/xZvWX7p.png");
  background-repeat: no-repeat;
  background-size: 57px 20px;
  height: 20px;
  padding-left: 57px;
  width: 0;
}
img[src="/pic/icon_latest_reply.gif"] {
  background-image: url("https://i.hdbits.org/s2rDGn6.png");
  background-repeat: no-repeat;
  background-size: 18px 9px;
  height: 9px;
  padding-left: 18px;
  width: 0;
}
/* Site log */
td.bottom > form[action="/log.php"] ~ table {
  background: none;
  color: black;
  width: 850px;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
tr.logentry {
  background-color: #bdcad6 !important;
}
tr.logentry > td:nth-of-type(1), tr.logentry > td:nth-of-type(2) {
  vertical-align: top;
  white-space: nowrap;
  width: 1px;
}
tr.logentry.uploaded {
  background-color: #3eac46 !important;
}
tr.logentry.deleted {
  background-color: #c45454 !important;
}
tr.logentry.offerallowed {
  background-color: #e0b51a !important;
}
tr.logentry.edited {
  background-color: #b0ac9c !important;
}
tr.logentry:nth-of-type(even) {
  background-color: #c1ced9 !important;
}
tr.logentry:nth-of-type(even).uploaded {
  background-color: #40b248 !important;
}
tr.logentry:nth-of-type(even).deleted {
  background-color: #c65a5a !important;
}
tr.logentry:nth-of-type(even).offerallowed {
  background-color: #e4b91d !important;
}
tr.logentry:nth-of-type(even).edited {
  background-color: #b3afa0 !important;
}
/* Homepage */
table.interiortable {
  background-color: #7997af;
  border: none;
}
table.poll {
  background: none;
}
#news > h2, #news > h2 + table {
  box-shadow:none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  border-collapse: separate;
}
#news > h2 {
  border-top: none;
}
#news > h2 + table {
  border-bottom: none;
  margin-bottom: 20px;
}
/* Polls */
td.embedded[bgcolor="#ECE9D8"] {
  background: none;
}
/* Search box */
#searchbox td[style*="border:black solid 1px;"] {
  border: none !important;
}
/* Torrent details page */
#details {
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
#details table:not([class]),
#details > tbody > tr:nth-of-type(even) {
  background: none;
}
.content th {
  background: none;
  color: inherit;
}
.contentlayout h3 {
  color: rgba(0, 0, 0, 0.5);
}
.contentlayout, .content, #cast {
  background: none;
}
td[style*="border-left: 1px solid black;"] {
  border: none !important;
}
tr[bgcolor="#436c80"] {
  background-color: #e0b51a;
}
/* Show page */
#showpage {
  background-color: #bdcad6;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
.showseasons ul ul > li:last-child {
  padding-bottom: 10px;
}
.showseasons .notorrents > h2 {
  color: rgba(255, 255, 255, 0.5);
}
.showseasons .notorrents > h3 {
  color: rgba(0, 0, 0, 0.5);
}
/* Requests */
table.sources_table, table.lottery_table, table.lottery_table2 {
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
table.sources_table, .sources_table td.borderaround {
  border: none;
}
/* Offers */
#pager, #pager2 {
  font-size: 11px !important;
  padding: 10px 0 !important;
}
#pager > a, #pager2 > a {
  font-weight: bold;
}
#pager b a, #pager2 b a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: normal;
  pointer-events: none;
}
label.label_showhide span {
  color: black;
}
label.label_showhide span:hover, label.label_showhide span:focus, label.label_showhide span:active {
  text-decoration: underline;
}
div.div_showhide div {
  border-color: black;
}
/* Inbox */
form[action="inbox.php"] > table {
  background: none;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
form[action="inbox.php"] > input[name="action"][value="forward"] ~ table {
  background: #bdcad6;
  width: 500px;
}
#inboxbody > tr:nth-of-type(odd) {
  background-color: #bdcad6;
}
#inboxbody > tr:nth-of-type(odd).highlight {
  background-color: #b1bec9;
}
#inboxbody > tr:nth-of-type(even) {
  background-color: #c1ced9;
}
#inboxbody > tr:nth-of-type(even).highlight {
  background-color: #b5c2cc;
}
/* User details page */
a.sublink {
  color: black;
}
a.sublink:hover, a.sublink:focus, a.sublink:active {
  text-shadow: none;
  color: #400202;
}
td[bgcolor="#F4F4F0"] {
  background: none;
}
/* Subtitles */
td.bottom > form[action="dox.php"] + p + table {
  background: none;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
td.bottom > form[action="dox.php"] + p + table > tbody > tr:nth-of-type(2n+2) {
  background-color: #bdcad6;
}
td.bottom > form[action="dox.php"] + p + table > tbody > tr:nth-of-type(2n+3) {
  background-color: #c1ced9;
}
form[action="dox.php"] td[style="border:black solid 1px;"] {
  border: none !important;
}
form > table.main {
  background: none;
}
h2 > a[name]:not([href]) {
  color: white;
  text-decoration: none;
}
/* Friends page */
td[style$="background-color: #ECE9D8"] {
  background-color: #bdcad6 !important;
}
td[style$="background-color: #ECE9D8"] > table {
  background: none;
}
h2 > a[name="friends"],
h2 > a[name="blocks"] {
  color: white;
  text-decoration: none;
}
/* Wish list */
#wishlist {
  background: none;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
#wishlist-items > tr {
  background-color: #bdcad6;
}
#wishlist-items > tr:hover {
  background-color: #b1bec9;
}
#wishlist-items > tr[style^="background-color: rgb(85,"] {
  background-color: #55aa55 !important;
}
#wishlist-items > tr[style^="background-color: rgb(85,"]:hover {
  background-color: #b1bec9 !important;
}
/* Default avatars */
.default_avatar {
  background: url("https://i.hdbits.org/SYGvgV1.png") no-repeat top left;
  background-size: 150px 150px;
  height: 150px;
}
.default_avatar_small {
  background: url("https://i.hdbits.org/SYGvgV1.png") no-repeat;
  background-size: 100% 100%;
  height: 82px;
}
/* Profile settings */
#profilesettings {
  background: none;
}
/* Bonus points page */
table.tableb {
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
table.tableb table {
  background-color: #7997af;
  border: none;
}
/* Featured queue */
table.padding2 {
  background-color: #7997af;
  border: none;
}
/* Invites */
.invite_notice {
  background-color: #bdcad6;
  color: darkred;
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
.invite_notice + table {
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
/* Add comment and post forum pages */
td.bottom > table[width="800"] + table.main + h2:only-of-type {
  width: 850px;
  box-sizing: border-box;
}
td.bottom > table[width="800"] + table.main + h2:only-of-type + table:last-of-type {
  width: 850px;
}
td.bottom > table[width="800"] + table.main + h2:only-of-type + table:last-of-type .comment img {
  max-width: 650px;
}
form[name="comment"] + h3:only-of-type + table.main:last-of-type {
  width: 850px;
}
/* Comments tables */
#details ~ table.main:last-of-type, #list-container ~ table.main:last-of-type, a[name="startcomments"] ~ table.main:last-of-type {
  width: 850px;
}
#details ~ table.main:last-of-type table:not([class]) table.main table.main, #list-container ~ table.main:last-of-type table:not([class]) table.main table.main, a[name="startcomments"] ~ table.main:last-of-type table:not([class]) table.main table.main {
  background: none;
}
.center_comments > table.main:only-of-type {
  width: 850px;
}
.center_comments > table.main:only-of-type > tbody > tr > td > table {
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
.center_comments > table.main:only-of-type > tbody > tr > td > table > tbody > tr > td > p.sub + table.main {
  border: none;
}
/* Send message */
form[name="message"] {
  border: none;
  box-shadow:none;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}
/* Preview boxes for compose forms */
.previewbox {
  word-wrap: break-word;
  word-break: break-word;
}
.previewbox pre {
  white-space: pre-wrap;
}
.previewbox img {
  max-width: 100%;
}
form td.embedded {
  vertical-align: top;
}
/* Ratio colours in peer and torrent lists */
.tablesorter font[color="#110000"] {
  color: #115d00;
}
.tablesorter font[color="#220000"] {
  color: #225700;
}
.tablesorter font[color="#330000"] {
  color: #335000;
}
.tablesorter font[color="#440000"] {
  color: #444900;
}
.tablesorter font[color="#550000"] {
  color: #554300;
}
.tablesorter font[color="#660000"] {
  color: #663c00;
}
.tablesorter font[color="#770000"] {
  color: #773500;
}
.tablesorter font[color="#880000"] {
  color: #882f00;
}
.tablesorter font[color="#990000"] {
  color: #992800;
}
.tablesorter font[color="#aa0000"] {
  color: #aa2100;
}
.tablesorter font[color="#bb0000"] {
  color: #bb1b00;
}
.tablesorter font[color="#cc0000"] {
  color: #cc1400;
}
.tablesorter font[color="#dd0000"] {
  color: #dd0d00;
}
.tablesorter font[color="#ee0000"] {
  color: #ee0700;
}
.tablesorter font[color="#ff0000"] {
  color: red;
}
.tablesorter font[color="red"] {
  color: red;
}
.tablesorter font[color="#000000"] {
  color: darkgreen;
}
/* Font color overrides */
font[color="#110000"] {
  color: #110000;
}
font[color="#220000"] {
  color: #220000;
}
font[color="#330000"] {
  color: #330000;
}
font[color="#440000"] {
  color: #440000;
}
font[color="#550000"] {
  color: #550000;
}
font[color="#660000"] {
  color: #660000;
}
font[color="#770000"] {
  color: #770000;
}
font[color="#880000"] {
  color: #880000;
}
font[color="#990000"] {
  color: #990000;
}
font[color="#aa0000"] {
  color: #aa0000;
}
font[color="#bb0000"] {
  color: #bb0000;
}
font[color="#cc0000"] {
  color: #cc0000;
}
font[color="#dd0000"] {
  color: #dd0000;
}
font[color="#ee0000"] {
  color: #ee0000;
}
font[color="#ff0000"] {
  color: red;
}
font[color="red"] {
  color: red;
}
font[color="#000000"] {
  color: inherit;
}
font[color="#1900D1"] {
  color: #1800d1;
}
font[color="green"] {
  color: darkgreen;
}
font[color="#1D3953"], font[color="#004E98"] {
  color: white;
}
font[color="red"], font[color="darkred"] {
  color: darkred;
}
font.gray {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
div.footer {
  background-image: url("https://i.imgur.com/5ITYQB4.png");
  background-size: 0;
}
/* Shame - This CSS is bad, and you should feel bad */
/* Overrides for nested table backgrounds */
td.embedded > table table:not([class]),
form table table:not([class]),
td.bottom > table[width="800"]:first-of-type + table.main,
body > table.main:nth-child(3) > tbody > tr > td.bottom:nth-child(2) > table.main:nth-child(5),
body > table.main:nth-child(3) > tbody > tr > td.bottom:nth-child(2) > table.main:nth-child(7),
body > table.main:nth-child(3) > tbody > tr > td.bottom:nth-child(2) > table.main:nth-child(7) > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > table,
body > table.main:nth-child(3) > tbody > tr > td.bottom:nth-child(2) > script[type="text/javascript"]:first-child + table.main,
form[name="compose"] > table.message,
#list-add table,
td.text table.main,
table.donate {
  background: none;
}

/*CSS to limit the text length inside a div*/
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
